@model Bookmark.Models.DomainModels.Book

@{
    ViewData["Title"] = "Delete Book";
}

<h1 class="display-4">Delete Book</h1>
<ul class="list-group mb-2">
    <li class="list-group-item">
        <h4>@Model?.Title @Model?.Rating</h4>
    </li>
    <li class="list-group-item">
        Teacher: @Model?.About.FullName
    </li>
    <li class="list-group-item">
        Genre and Date: @Model?.Genre.Name @Model?.Date
    </li>
</ul>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="BookId" />
    <button type="submit">Delete</button>
    <my-link-button action="Index" controller="Home">Cancel</my-link-button>
</form>


