@model Bookmark.Models.DomainModels.About

@{
    ViewData["Title"] = "Delete About";
}

<h1 class="display-4">Delete About</h1>
<ul class="list-group mb-2">
    <li class="list-group-item">
        @Model.FullName
    </li>
</ul>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="AboutId" />
    <button type="submit">Delete</button>
    <my-link-button action="Index">Cancel</my-link-button>
</form>

